:root{
   /* =====色板===== */
  /*常量,不随明暗主题变化*/
  --color-white: #FFFFFF;
  --color-black: #000000;

  --lay-color-white: #FAFAFA;
  --lay-color-black: #333333;

  --lay-color-red-1: #FFF1E8; 
  --lay-color-red-2: #FFD7C0; 
  --lay-color-red-3: #FFBB99; 
  --lay-color-red-4: #FF9C71; 
  --lay-color-red-5: #FF7A4A; 
  --lay-color-red-6: #FF5722; 
  --lay-color-red-7: #D23B15; 
  --lay-color-red-8: #A6250B; 
  --lay-color-red-9: #791404; 
  --lay-color-red-10: #4D0800;

  --lay-color-blue-1: #E8F9FF;
  --lay-color-blue-2: #C0ECFF;
  --lay-color-blue-3: #97DCFF;
  --lay-color-blue-4: #6FCAFF;
  --lay-color-blue-5: #46B5FF;
  --lay-color-blue-6: #1E9FFF;
  --lay-color-blue-7: #1379D2;
  --lay-color-blue-8: #0A58A6;
  --lay-color-blue-9: #043A79;
  --lay-color-blue-10: #00214D;

  --lay-color-lightblue-1: #E8FDFF;
  --lay-color-lightblue-2: #C1F4FB;
  --lay-color-lightblue-3: #9CEAF7;
  --lay-color-lightblue-4: #77DDF4;
  --lay-color-lightblue-5: #53CEF0;
  --lay-color-lightblue-6: #31BDEC;
  --lay-color-lightblue-7: #1F95C4;
  --lay-color-lightblue-8: #10709C;
  --lay-color-lightblue-9: #064E74;
  --lay-color-lightblue-10: #002F4D;

  --lay-color-layuigreen-1: #E8FFF9;
  --lay-color-layuigreen-2: #B5F1E3;
  --lay-color-layuigreen-3: #87E3D1;
  --lay-color-layuigreen-4: #5DD6C1;
  --lay-color-layuigreen-5: #37C8B5;
  --lay-color-layuigreen-6: #16BAAA;
  --lay-color-layuigreen-7: #0E9F95;
  --lay-color-layuigreen-8: #08837F;
  --lay-color-layuigreen-9: #036868;
  --lay-color-layuigreen-10: #004A4D;

  --lay-color-green-1: #E8FFF2;
  --lay-color-green-2: #B5F1D1;
  --lay-color-green-3: #86E2B4;
  --lay-color-green-4: #5CD49C;
  --lay-color-green-5: #37C588;
  --lay-color-green-6: #16B777;
  --lay-color-green-7: #0E9C68;
  --lay-color-green-8: #088259;
  --lay-color-green-9: #036749;
  --lay-color-green-10: #004D38;

  --lay-color-orange-1: #FFFCE8;
  --lay-color-orange-2: #FFF5BA;
  --lay-color-orange-3: #FFEA8B;
  --lay-color-orange-4: #FFDC5D;
  --lay-color-orange-5: #FFCB2E;
  --lay-color-orange-6: #FFB800;
  --lay-color-orange-7: #D29000;
  --lay-color-orange-8: #A66C00;
  --lay-color-orange-9: #794B00;
  --lay-color-orange-10: #4D2D00;

  --lay-color-cyan-1: #E8F6FF;
  --lay-color-cyan-2: #B9CEDD;
  --lay-color-cyan-3: #8FA7BB;
  --lay-color-cyan-4: #6A829A;
  --lay-color-cyan-5: #4A5F78;
  --lay-color-cyan-6: #2F4056;
  --lay-color-cyan-7: #223654;
  --lay-color-cyan-8: #162C51;
  --lay-color-cyan-9: #0B214F;
  --lay-color-cyan-10: #00174D;

  --lay-color-purple-1: #FDE8FF;
  --lay-color-purple-2: #EDBEF4;
  --lay-color-purple-3: #DC97E8;
  --lay-color-purple-4: #C972DD;
  --lay-color-purple-5: #B651D1;
  --lay-color-purple-6: #A233C6;
  --lay-color-purple-7: #8120A8;
  --lay-color-purple-8: #631289;
  --lay-color-purple-9: #48076B;
  --lay-color-purple-10: #2F004D;

  --lay-color-black-1: #E8F8FF;
  --lay-color-black-2: #BFD0D8;
  --lay-color-black-3: #98A8B1;
  --lay-color-black-4: #73818A;
  --lay-color-black-5: #505B63;
  --lay-color-black-6: #2F363C;
  --lay-color-black-7: #23303C;
  --lay-color-black-8: #18293C;
  --lay-color-black-9: #0C213C;
  --lay-color-black-10: #00183C;

  --lay-color-gray-1: #FAFAFA;
  --lay-color-gray-2: #F6F6F6;
  --lay-color-gray-3: #EEEEEE;
  --lay-color-gray-4: #E2E2E2;
  --lay-color-gray-5: #DDDDDD;
  --lay-color-gray-6: #D2D2D2;
  --lay-color-gray-7: #CCCCCC;
  --lay-color-gray-8: #C2C2C2;
  --lay-color-gray-9: #AAAAAA;
  --lay-color-gray-10: #939393;

  --lay-color-gray-11: #858585;
  --lay-color-gray-12: #7b7b7b;
  --lay-color-gray-13: #686868;

  /* =====语义===== */
  /* 主色 */
  --lay-color-primary: var(--lay-color-layuigreen-6); 
  --lay-color-primary-hover: var(--lay-color-layuigreen-5);
  --lay-color-primary-active: var(--lay-color-layuigreen-7);
  --lay-color-primary-disabled: var(--lay-color-layuigreen-3);
  --lay-color-primary-light: var(--lay-color-layuigreen-4);

  /* 次色 */
  --lay-color-secondary: var(--lay-color-green-6);
  --lay-color-secondary-hover: var(--lay-color-green-5);
  --lay-color-secondary-active: var(--lay-color-green-7);
  --lay-color-secondary-disabled: var(--lay-color-green-3);
  --lay-color-secondary-light: var(--lay-color-green-4);

  /* 引导 */
  --lay-color-info: var(--lay-color-lightblue-6);
  --lay-color-info-hover: var(--lay-color-lightblue-5);
  --lay-color-info-active: var(--lay-color-lightblue-7);
  --lay-color-info-disabled: var(--lay-color-lightblue-3);
  --lay-color-info-light: var(--lay-color-lightblue-4);

  /* 百搭 */
  --lay-color-normal: var(--lay-color-blue-6);
  --lay-color-normal-hover: var(--lay-color-blue-5);
  --lay-color-normal-active: var(--lay-color-blue-7);
  --lay-color-normal-disabled: var(--lay-color-blue-3);
  --lay-color-normal-light: var(--lay-color-blue-4);

  /* 警示 */
  --lay-color-warning: var(--lay-color-orange-6);
  --lay-color-warning-hover: var(--lay-color-orange-5);
  --lay-color-warning-active: var(--lay-color-orange-7);
  --lay-color-warning-disabled: var(--lay-color-orange-3);
  --lay-color-warning-light: var(--lay-color-orange-4);

  /* 成功 */
  --lay-color-success: var(--lay-color-green-6);
  --lay-color-success-hover: var(--lay-color-green-5);
  --lay-color-success-active: var(--lay-color-green-7);
  --lay-color-success-disabled: var(--lay-color-green-3);
  --lay-color-success-light: var(--lay-color-green-4);

  /* 错误 */
  --lay-color-danger: var(--lay-color-red-6);
  --lay-color-danger-hover: var(--lay-color-red-5);
  --lay-color-danger-active: var(--lay-color-red-7);
  --lay-color-danger-disabled: var(--lay-color-red-3);
  --lay-color-danger-light: var(--lay-color-red-4);

  --lay-color-bg-1: #17171A; /*整体背景*/
  --lay-color-bg-2: #232324; /*一级容器背景,卡片,面板*/
  --lay-color-bg-3: #2a2a2b; /*二级容器背景*/
  --lay-color-bg-4: #313132; /*三级容器背景*/
  --lay-color-bg-5: #373739; /*下拉弹出框、Tooltip 背景颜色*/
  --lay-color-bg-white: #f6f6f6; /*白色背景*/

  --lay-color-text-1: rgba(255,255,255,.9); /*强调/正文标题*/
  --lay-color-text-2: rgba(255,255,255,.7); /*次强调/语句*/
  --lay-color-text-3: rgba(255,255,255,.5); /*次要信息*/
  --lay-color-text-4: rgba(255,255,255,.3);/*禁用状态文字 */

  --lay-color-border-1: #2e2e30;
  --lay-color-border-2: #484849;
  --lay-color-border-3: #5f5f60;
  --lay-color-border-4: #929293;

  --lay-color-fill-1: rgba(255,255,255,.04);/*浅/禁用*/
  --lay-color-fill-2: rgba(255,255,255,.08);/*常规/白底悬浮*/
  --lay-color-fill-3: rgba(255,255,255,.12); /*深/灰底悬浮*/
  --lay-color-fill-4: rgba(255,255,255,.16);/*重/特殊场景*/

  --lay-color-hover: var(--lay-color-fill-3); /*bg*/
  --lay-color-active: var(--lay-color-fill-3); /*bg*/

  --lay-shadow-1: 0 4px 6px rgba(0, 0, 0, 6%), 0 1px 10px rgba(0, 0, 0, 8%), 0 2px 4px rgba(0, 0, 0, 12%);/*基础/下层投影 卡片面板*/
  --lay-shadow-2: 0 8px 10px rgba(0, 0, 0, 12%), 0 3px 14px rgba(0, 0, 0, 10%), 0 5px 5px rgba(0, 0, 0, 16%);/*中层投影 下拉菜单,选择器*/
  --lay-shadow-3: 0 16px 24px rgba(0, 0, 0, 14%), 0 6px 30px rgba(0, 0, 0, 12%), 0 8px 10px rgba(0, 0, 0, 20%);/*上层投影 弹窗*/
}
